*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 23rem;
  height: 90vh;
  border: 1px solid black;
  margin: 4rem auto 0;
  border-radius: 30px;
}
.chat-base{
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0 0 30px 30px;
}
.chat-base::-webkit-scrollbar{
  display: none;
}